body{
  background-image: url(CORAL_BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}
.wish1{
  padding: 5% 0%;
}
@media(max-width:691px){
  body{
   display:cover;
    width:50%;
   
    
  
    
  }

  
}

 .button{
   margin:5% 6% 17% 17%;
   border-radius: 35%;
   width:45%;
   height:25%;
   background-color:#fff;
   padding:4% 5%;
 }




i{
   color:green;
 }
 .wish1{
   font-family:"Montserrat";
 }
h5{
  padding:8% 5%;
}
  
 #nutritions{
   padding:3% 2%;
   height: 250px;
   width:217px;

   position:relative;


   border-radius:75%;

 }
 .brave{
   color:#ff4c17;
 }
 .nature{
   padding:3% 4%;
 }
 p{
   padding:4% 4%;
 }


#eminent{

  border-radius: 75%;
   width:600px;
   height:450px;
   padding:8% 10%;
   
}





 .feature-box{
   text-align: center;
 }
 h3{
   font-family: "Montserrat-bold";
   color:#00BCD4;
   font-size:1.2rem;
   font-weight:bold;
 }

 #flower{
   padding:7% 10%;
   margin: 5% 4% 5% 0%;
   position:absolute;
   z-index:-1;
   transform:rotate(25deg);
     width: 60%;
     right:55%;
 }
 #flower2{
   padding:7% 10%;
   margin: 5% 4% 5% 0%;
   position:absolute;
   z-index:-1;
   transform:rotate(35deg);
     width: 60%;
     left:55%;
 }
 h6{
   padding:5% 10%;
 }
 #hd{
   font-weight: bold;
   font-style: italic;
   color:#ff4c17;
 }
 #cake{
   color:maroon;
 }
 p{
   font-style: italic;
   font-weight: bold;
   font-family:"Merriweather";


 }

 .wish1{
   background-color: powderblue;
   color:#fff;
   padding:8% 25%;
 }

 .ice{
   position:relative;
   left:47%;



 }

 h2:hover{
   color:yellow;
 }



 video{
   border-radius:50%;
 }

 .Download-button{
   margin: 5% 4% 5% 0%;
 }
 .giphy-embed{
   position:relative;
   left:140%;
   height:400px;
   width:280px;
   border-radius:36%;
   padding-bottom:30%;


 }


 #author{
   color:pink;
   font-family:"Serif";

 }
#author:hover{
  color:#1674a0;
}

.Magic{
  text-align: center;
  background-color:black;
  font-weight: bold;
  line-height: 15px;
  color:purple;
  font-family: "Merriweather";
  padding:10% 3%;
}
.Cakes{
  border-radius: 50%;
  height: 317px;

}
#my_story{
  font-family:"Montserrat";
}

#footer{
   text-align: center;
   color:lightgrey;
   font-size:65%;
   padding: 30% 0%;
   font-family:"Montserrat";
   font-weight: lighter;
 }
 #footer{

   padding: 5% 3%;
 }
 .testimonial-image{

   border-radius: 100%;
   width:30%;
   padding:8% 5%;
   margin:15px;

 }
 #testimonials{
   padding:7% 14%;
   text-align: center;
   background-color:#ff4c17;
   color:#fff;
 }


 #footer:hover{
    color:#e74c3c;

 }
 
 

   
